<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Produto</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        #imagem-preview {
            max-width: 100px; /* Largura máxima da imagem de pré-visualização */
            max-height: 100px; /* Altura máxima da imagem de pré-visualização */
            display: none; /* Inicialmente escondido */
            margin-top: 10px; /* Espaço acima da imagem */
        }
    </style>
</head>
<body>
    {% block conteudo %}
    <div class="container">
        <h2>Atualizar Produto: {{ produto.descricao }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="descricao" class="form-label">descricao:</label>
                <input type="text" name="descricao" value="{{ produto.descricao }}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="preco" class="form-label">Preço:</label>
                <input type="text" name="preco" value="{{ produto.preco }}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="imagem" class="form-label">Selecionar Imagem:</label>
                <input type="file" name="imagem" class="form-control" accept="image/*" required onchange="previewImage(event)">
                <img id="imagem-preview" src="#" alt="Pré-visualização da Imagem" />
            </div>
            <button type="submit" class="btn btn-success">Atualizar Produto</button>
            <a href="{% url 'pagina_adm' %}" class="btn btn-secondary">Voltar</a>
        </form>
    </div>

    <script>
        function previewImage(event) {
            const preview = document.getElementById('imagem-preview');
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function(){
                preview.src = reader.result; // Atualiza o src da imagem de pré-visualização
                preview.style.display = 'block'; // Mostra a imagem
            }

            if (file) {
                reader.readAsDataURL(file); // Lê o arquivo como URL de dados
            }
        }
    </script>
    {% endblock %}
</body>
</html>