<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clark</title>
</head>
<body>
    <form action="/Clark_mensagem/" method="get">
        <input type="text" name="remetente" id="remetente">
        <input type="text" name="nome" id="nome">
        <textarea 
            name="Clark_mensagem" 
            id="Clark_mensagem">
        </textarea>

        <input type="submit" value="Enviar">
    </form>

</body>
</html>