<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .modal-custom {
            max-width: 600px;
            width: 90%;
        }
    </style>
</head>
<body>
    {% block conteudo %}
    <div class="container">
        <h2>Lista de Produtos</h2>
        <a href="/" class="btn btn-primary mb-3">Criar novo produto</a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Modelo</th>
                    <th>Descrição</th>
                    <th>Capacidade 1</th>
                    <th>Capacidade 2</th>
                    <th>Capacidade 3</th>
                    <th>Quantidade em Estoque</th>
                    <th>Preço</th>
                    <th>Cor</th>
                    <th>Marca</th>
                    <th>Acessos</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if produtos %}
                    {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.id }}</td>
                            <td>{{ produto.modelo }}</td>
                            <td>{{ produto.descricao }}</td>
                            <td>{{ produto.capacidade1 }}</td>
                            <td>{{ produto.capacidade2 }}</td>
                            <td>{{ produto.capacidade3 }}</td>
                            <td>{{ produto.qtd_estoque }}</td>
                            <td>R$ {{ produto.preco|floatformat:2 }}</td>
                            <td>{{ produto.cor }}</td>
                            <td>{{ produto.marca }}</td>
                            <td>{{ produto.acessos }}</td>
                            <td>
                                <img src="{{ produto.imagem1 }}" alt="{{ produto.descricao }}" style="max-width: 100px; max-height: 100px;" />
                                <button class="btn btn-info btn-sm" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#imageModal" 
                                        data-imagem1="{{ produto.imagem1 }}"
                                        data-imagem2="{{ produto.imagem2 }}"
                                        data-imagem3="{{ produto.imagem3 }}"
                                        data-imagem4="{{ produto.imagem4 }}">Visualizar</button>
                            </td>
                            <td>
                                <a href="{% url 'atualizar_produto' produto.id %}" class="btn btn-warning btn-sm">Atualizar</a>
                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="{{ produto.id }}">Excluir</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="13" class="text-center">Nenhum produto encontrado.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja excluir este produto?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <form id="deleteForm" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-custom">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Visualizar Imagens</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="modal-image-container">
                            <!-- As imagens serão adicionadas aqui -->
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Próximo</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var deleteModal = document.getElementById('confirmDeleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');

            var form = document.getElementById('deleteForm');
            form.action = '{% url "excluir_produto" 0 %}'.replace('0', id);
        });

        var imageModal = document.getElementById('imageModal');
        imageModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var imagens = [
                button.getAttribute('data-imagem1'),
                button.getAttribute('data-imagem2'),
                button.getAttribute('data-imagem3'),
                button.getAttribute('data-imagem4')
            ];

            var modalImageContainer = document.getElementById('modal-image-container');
            modalImageContainer.innerHTML = '';

            imagens.forEach(function(imagem, index) {
                if (imagem) {
                    var itemClass = index === 0 ? 'carousel-item active' : 'carousel-item';
                    var divElement = document.createElement('div');
                    divElement.className = itemClass;
                    var imgElement = document.createElement('img');
                    imgElement.src = imagem;
                    imgElement.className = 'd-block w-100';
                    imgElement.alt = "Imagem " + (index + 1); // Adicionando um texto alternativo
                    divElement.appendChild(imgElement);
                    modalImageContainer.appendChild(divElement);
                }
            });

            // Verifique se o carrossel está visível e, se necessário, reinicie o carrossel
            var carousel = new bootstrap.Carousel(carouselImages);
            carousel.to(0); // Inicie no primeiro item
        });
    </script>
    
    {% endblock %}
</body>
</html>
