{% extends "master.html" %}

{% load static %}

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">

{% block head_tags %}
    <title>Página Home</title>
    <!-- Carregamento do código css do bootstrap hospedado no própio servidor -->
    
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #E7EEF1; /* Cor de fundo da página */
        }
        .promo {
            width: 100%;
            height: 18.75rem; /* Aproximadamente 300px */
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .promo img {
            max-width: 100%;
            max-height: 100%;
        }
        .promocoes-list {
            padding: 1.25rem; /* Aproximadamente 20px */
            list-style: none;
        }
        
        .categorias {
            text-align: center; /* Centralizado */
            margin: 3.75rem 0; /* Aproximadamente 60px */
        }
        .categorias-container {
            display: flex;
            justify-content: center;
            gap: 1.25rem; /* Aproximadamente 20px */
            margin-top: 2.5rem; /* Aproximadamente 40px */
            flex-wrap: wrap; /* Permite que as categorias quebrem para a linha abaixo em telas menores */
        }
        .categoria {
            width: 23rem; /* Aproximadamente 368.64px */
            height: 19.98rem; /* Aproximadamente 319.76px */
            background-color: #E7EEF1; /* Cor de fundo igual à página */
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: flex-start;
            position: relative;
            padding: 0.3125rem; /* Aproximadamente 5px */
        }
        .categoria img {
            width: 100%;
            height: 100%; /* Ajusta a altura para preencher o container */
            object-fit: cover; /* Mantém a proporção da imagem */
        }
        .categoria h3 {
            font-size: 0.875rem; /* Aproximadamente 14px */
            margin-top: 0.3125rem; /* Aproximadamente 5px */
            text-align: center; /* Alinhamento central */
            width: 100%; /* Garante que o título ocupe toda a largura */
        }
        .categoria p {
            font-size: 0.75rem; /* Aproximadamente 12px */
            text-align: center; /* Alinhamento central */
            width: 100%; /* Garante que o preço ocupe toda a largura */
        }
        .novidades {
            text-align: center;
            margin: 3.75rem 0; /* Aproximadamente 60px */
        }
        .novidades-container {
            display: flex;
            justify-content: center;
            gap: 1.875rem; /* Aproximadamente 30px */
            margin-top: 1.25rem; /* Aproximadamente 20px */
            flex-wrap: wrap; /* Permite que as novidades quebrem para a linha abaixo em telas menores */
        }
        .novidade {
            width: 23rem; /* Aproximadamente 368px */
            height: 32.5625rem; /* Aproximadamente 521px */
            background-color: #E7EEF1; /* Cor de fundo igual à página */
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1.875rem; /* Aproximadamente 30px */
        }
        .novidade img {
            max-width: 100%;
            height: auto; /* Mantém a proporção da imagem */
            object-fit: cover; /* Garante que a imagem não fique esticada */
        }
        .novidade-central {
            width: 23rem; /* Aproximadamente 368px */
            height: 32.5625rem; /* Aproximadamente 521px */
            background-color: #E7EEF1; /* Cor de fundo igual à página */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* Estilos específicos para dispositivos móveis */
        @media (max-width: 768px) {
            .categoria {
                width: 100%; /* Cada categoria ocupa 100% da largura */
                height: auto; /* Altura automática para manter a proporção */
            }
            .novidade {
                width: 100%; /* Cada novidade ocupa 100% da largura */
                height: auto; /* Altura automática para manter a proporção */
            }
            .novidade img {
                height: 200px; /* Altura fixa para imagens em dispositivos móveis */
            }
        }
    </style>
{% endblock head_tags %}

{% block content %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://media.moneytimes.com.br/uploads/2023/11/celulares-black-friday.jpg" style="width: 100%; height: 18.75rem; object-fit: cover; object-position: center;">
                <div class="container">
                    <div class="carousel-caption text-start">
                        
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://s.zst.com.br/cms-assets/2022/06/capa_a52.webp" style="width: 100%; height: 18.75rem; object-fit: cover; object-position: center;">
                <div class="container">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://img.freepik.com/fotos-premium/uma-fileira-de-smartphones-em-exposicao-em-uma-loja-exibindo-varias-cores-e-desenhos_14117-745595.jpg" style="width: 100%; height: 18.75rem; object-fit: cover; object-position: center;">
                <div class="container">
                    <div class="carousel-caption text-end">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="categorias">
        <h2>Categorias</h2>
        <p style="text-align: center; max-width: 37.5rem; margin: 0 auto;">
            É essencial cuidar do cliente durante a experiência de compra. Embora escolher um novo celular possa ser um desafio, nossa equipe está aqui para ajudar. Desde a seleção do modelo certo até o suporte pós-venda, garantimos que você se sinta seguro em sua decisão. O seu conforto e satisfação são nossa prioridade, e estamos prontos para transformar essa jornada em algo fácil e agradável.
        </p>
        <div class="categorias-container">
            <div class="categoria">
                <img src="https://amcap.com.ar/wp-content/uploads/2022/07/a03-128-gb-1-600x600.jpg" />
                <h3>Celulares de entrada</h3>
            </div>
            <div class="categoria">
                <img src="https://lojacentric.com.br/image/cache/data/Produtos/CE/Celular-Xiaomi-Redmi-12-5G-Br-128Gb-4Gb-Ram-Preto-Xiaomi-COR-NAO-DEFINIDA-AD9353BB-1-1400x1400.jpg.webp" />
                <h3>Celulares intermediários</h3>
            </div>
            <div class="categoria">
                <img src="https://imgs.casasbahia.com.br/55067454/1g.jpg" />
                <h3>Celulares premium</h3>
            </div>
        </div>
    </div>

    <div class="novidades">
        <h2>Nossas últimas novidades</h2>
        <p style="text-align: center; max-width: 37.5rem; margin: 0 auto;">
            Ficar por dentro das últimas novidades em celulares é essencial para quem busca tecnologia e inovação. Nossa seleção traz os modelos mais recentes, garantindo desempenho excepcional e adaptação ao seu estilo de vida. Explore nossas opções e escolha com confiança o smartphone perfeito para você!
        </p>
        <div class="novidades-container">
            <div class="novidade">
                <img src="https://ae01.alicdn.com/kf/S67cb96d477ce45dd9e6f4bc0a19dc82aO.jpg_960x960.jpg" style="width: 100%; height: auto;" />
            </div>
            <div class="novidade-central">
                <img src="https://cdn.awsli.com.br/2500x2500/1861/1861669/produto/224852768/apple-iphone-13--128-gb----rosa--5--tfh5wk1r17.jpg" style="width: 100%; height: auto;" />
            </div>
            <div class="novidade">
                <img src="https://www.maisbaratofone.com.br/wp-content/uploads/2023/05/Xiaomi-Redmi-Note-12-Preto1-600x600.jpg" style="width: 100%; height: auto;" />
            </div>
        </div>
    </div>

    <div class="categorias">
        <h2>Nossos produtos</h2>
        <p style="text-align: center; max-width: 37.5rem; margin: 0 auto;">Explore nossa seleção de smartphones, com opções que atendem a todas as suas necessidades. Desde modelos acessíveis até os mais avançados, garantimos qualidade e inovação em cada produto. Encontre o celular ideal que combina com seu estilo de vida!</p>
        <div class="categorias-container">
            <div class="categoria">
                <img src="https://sipolatti.vtexassets.com/arquivos/ids/198614/Smartphone-Samsung-Galaxy-A03-Core-32GB-2GB-RAM-Processador-Octa-Core-Camera-Traseira-de-8MP-Selfie-de-5MP-Tela-Infinita-de-6.5-Dual-Chip.png?v=638078475379930000" alt="Produto 1"/>
                <h3 style="text-align: left;">GALAXY A03</h3>
                <p style="text-align: left;">R$ 999,99</p>
            </div>
            <div class="categoria">
                <img src="https://imgs.casasbahia.com.br/55067425/1g.jpg" alt="Produto 2"/>
                <h3 style="text-align: left;">IPHONE 16 PRO MAX</h3>
                <p style="text-align: left;">R$ 12.999,00</p>
            </div>
            <div class="categoria">
                <img src="https://carrefourbr.vtexassets.com/arquivos/ids/10982464-1028-auto?v=637417927774130000&width=1028&height=auto&aspect=true" alt="Produto 3"/>
                <h3 style="text-align: left;">GALAXY S20 ULTRA</h3>
                <p style="text-align: left;">R$ 6.899,00</p>
            </div>
        </div>
    </div>
{% endblock %}