{% extends "master.html" %}
{% load static %}


{% block head_tags %}
    <style>
    body { 
        font-family: Public Sans; 
        margin: 30px; 
        display: flex; 
    }

    .column {
        flex: 1;
        padding: 30px;
        margin-right: 10vw;
        margin-left: 10vw;
        
    }

    #titulo{
        
        text-align: center; /* Centraliza o conteúdo da coluna */
        
    }
    
    #texto{
        text-align: justify;
    }

    
    .column img {
        max-width: 100%; /* A imagem se ajusta à largura da coluna */
        height: auto; /* Mantém a proporção da imagem */
    }
    
    .full-image {
        width: 100%; /* A imagem ocupará 100% da largura da coluna */
        height: auto; /* Mantém a proporção da imagem */
    }
    h1 { 
        color: #333; 
    }
    </style>
{% endblock head_tags %}


{% block content %}
    <div class="container">

    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="card">
                <img
                class="card-img-top" 
                src="{% static 'img/turma3.jpg' %}" 
                alt="Turma 3, Turma 5" 
                loading="lazy">

                <div class="card-body">
                  <p class="card-text">Processo de criação do PI.</p>
                </div>
            </div>
          
        </div>
        <div class="col-12 col-sm-6">
            <div class="card">
                <img
                class="card-img-top" 
                src="{% static 'img/turma5.jpg' %}" 
                alt="Turma 3, Turma 5" 
                loading="lazy">

                <div class="card-body">
                  <p class="card-text">Testes de apresentação do trabalho.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
        <div class="column">
        <source srcset="{% static 'img/turma3.webp, turma5.webp' %}" type="image/webp">
        </div>
<br>
            <div class="container">

    <div class="column">
        <h1 id="titulo">Sobre nós</h1>
        <br>
        <p id="texto"> 
            Nosso projeto visa desenvolver uma simulação de um sistema de vendas e-commerce, proporcionando uma experiência prática e abrangente no campo da tecnologia da informação.
            A equipe é composta por 11 membros do curso técnico de informática, cada um com um papel fundamental que contribui para o sucesso do projeto.
            Desde o início na UC 16 (Unidade Curricular), temos trabalhado de forma colaborativa, dividindo as responsabilidades para garantir que todas as áreas do projeto sejam bem atendidas.
            Alguns membros se dedicam à estruturação do código e ao desenvolvimento do banco de dados, garantindo que a base técnica do sistema seja sólida e eficiente.
            Outros focam no design, criando uma interface intuitiva e atraente que melhore a experiência do usuário.
            Este projeto não apenas nos permite aplicar os conhecimentos adquiridos em sala de aula, mas também nos ensina a importância do trabalho em equipe, da comunicação e da resolução de problemas.
            Estamos animados com o resultado final e confiantes de que ele refletirá nosso esforço e aprendizado ao longo do processo.  
        </p>
    </div>
            </div>

                <style>
    
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Espaçamento entre as imagens */
    }
    
    .container img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
                </style>

<div class="container">
    <div class="row">
        <div class="col-3"> 
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/Alekssandro Igreja.jpg' %}" 
                    alt="Alekssandro Igreja" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">Alekssandro Igreja</p> 
                        <p class="card-text">Responsável por desenvolver a página de produtos dentro do projeto</p>
                        <p class="card-text"> Não sei como e quando a gente está próximo de morrer, mas não quero me arrepender do meu jeito de viver</p>
                        <p><i>
                           
                        </i></p>
                    </div>    
            </div>
        </div>

        <div class="col-3"> 
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/Eduardo.jpg' %}" 
                    alt="Eduardo" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">Eduardo</p>
                        <p class="card-text">Responsável por desenvolver a página de desenvolvedores dentro do projeto</p>
                        <p class="card-text">É necessário sempre acreditar que o sonho é possível, que o céu é o limite e você, truta, é imbatível </p> 
                    </div>    
            </div>
        </div>
        

        <div class="col-3">
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/Elian Thiago.jpg' %}" 
                    alt="Elian Thiago" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">Elian Thiago</p>
                        <p class="card-text">responsável em desenvolver o banco de dados</p>
                        <p class="card-text">Ninguém baterá tão forte quanto a vida. Porém, não se trata de quão forte pode bater, se trata de quão forte pode ser atingido e continuar seguindo em frente. É assim que a vitória é conquistada.</p>

                    </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/Erik Santos.jpg' %}" 
                    alt="Erik Santos" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">Erik Santos</p>
                        <p class="card-text">Responsável pela criação do template master, tela de login e registro dentro do projeto PI </p>
                        <p class="card-text"> São suas decisões, e não suas condições, que determinam seu destino</p>
                    </div>
            </div>
        </div>


        <div class="col-3">
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/José Pantoja.jpg' %}" 
                    alt="José Pantoja" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">José Pantoja</p>
                        <p class="card-text">Responsável pela criação e filtragem de produtos dentro do projeto PI</p>
                    </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/Kevin Clark.jpg' %}" 
                    alt="Kevin Clark" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">Kevin Clark</p>
                        <p class="card-text">Responsável por desenvolver o Front end dentro do nosso projeto</p>
                        <p class="card-text">A jornada da programação web é cheia de erros e acertos, mas cada bug corrigido é uma vitória no caminho do sucesso.</p>
                    </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/Luciano Almeida.jpg' %}" 
                    alt="Luciano Almeida" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">Luciano Almeida</p>
                        <p class="card-text">Responsável pelo o suporte e desenvolvimento do Front end do projeto PI</p>
                        <p class="card-text">"Não existe sucesso sem esforço"</p>
                    </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/Nickolas Lima.jpg' %}" 
                    alt="Nickolas Lima" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">Nickolas Lima</p>
                        <p class="card-text">Responsável pela criação da página Home e cadastro de produtos</p>
                        <p class="card-text">Você pode até perder a fé nos outros, mas nunca em si mesmo.</p>
                    </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/Rian Kaik.jpg' %}" 
                    alt="Rian Kaik" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">Rian Kaik</p>
                        <p class="card-text">Responsável na criação e desenvolvimento da página dos desenvolvedores do projeto PI</p>
                        <p class="card-text">Acredite no seu potencial e supere seus limites</p>
                    </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/Rodrigo Souza.jpg' %}" 
                    alt="Rodrigo Souza" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">Rodrigo Souza</p>
                        <p class="card-text">Responsável pela criação da tela de detalhes do produto</p>
                        <p class="card-text">Você é o único responsável pelo seu próprio sucesso</p>
                    </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img
                    class="card-img-top" 
                    src="{% static 'img/Ronald Monteiro.jpg' %}" 
                    alt="Ronald Monteiro" 
                    loading="lazy">

                    <div class="card-body">
                        <p class="card-text">Ronald Monteiro</p>
                        <p class="card-text">responsável pela criação da página administrativa do produto</p>
                        <p class="card-text">Não adianta ter muito potencial e perdendo para o medo</p>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
