
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
        * {
            margin: 0;  /* Remove a margem padrão */
            padding: 0; /* Remove o preenchimento padrão */
            box-sizing: border-box; /* Inclui o preenchimento e a borda no cálculo da largura e altura */
            font-family: 'Poppins', sans-serif; /* Define a fonte do documento */
        }

        ::selection {
            color: #fff; /* Define a cor do texto selecionado */
            background: #3e3f3f; /* Define a cor de fundo do texto selecionado */
        }

        .wrapper {
            width: 400px; /* Define a largura do contêiner principal */
            background: transparent; /* Define o fundo como transparente */
            
        }

        .price-input {
            width: 100%; /* Define a largura do contêiner de entrada de preço como 100% */
            display: flex; /* Usa flexbox para alinhar os itens */
            margin: 30px 0 35px; /* Define a margem superior e inferior */
        }

        .price-input .field {
            display: flex; /* Usa flexbox para alinhar os itens */
            width: 100%; /* Define a largura do campo como 100% */
            height: 45px; /* Define a altura do campo */
            align-items: center; /* Alinha os itens verticalmente ao centro */
        }

        .field input {
            width: 100%; /* Define a largura do campo de entrada como 100% */
            height: 100%; /* Define a altura do campo de entrada como 100% */
            outline: none; /* Remove o contorno padrão ao focar no campo */
            font-size: 19px; /* Define o tamanho da fonte */
            margin-left: 12px; /* Adiciona uma margem à esquerda */
            border-radius: 5px; /* Arredonda os cantos do campo de entrada */
            text-align: center; /* Centraliza o texto no campo de entrada */
            border: 1px solid #999; /* Define a borda do campo de entrada */
            -moz-appearance: textfield; /* Remove o estilo padrão do campo de entrada no Firefox */
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none; /* Remove os botões de aumento/diminuição nos campos de número */
        }

        .price-input .separator {
            width: 130px; /* Define a largura do separador */
            display: flex; /* Usa flexbox para alinhar os itens */
            font-size: 19px; /* Define o tamanho da fonte */
            align-items: center; /* Alinha os itens verticalmente ao centro */
            justify-content: center; /* Centraliza os itens horizontalmente */
        }

        .slider {
            height: 5px; /* Define a altura do slider */
            position: relative; /* Define a posição como relativa para o posicionamento absoluto dos filhos */
            background: #ddd; /* Define a cor de fundo do slider */
            border-radius: 5px; /* Arredonda os cantos do slider */
        }

        .slider .progress {
            height: 100%; /* Define a altura do progresso como 100% do slider */
            left: 25%; /* Posiciona o progresso a 25% da esquerda */
            right: 25%; /* Posiciona o progresso a 25% da direita */
            position: absolute; /* Define a posição como absoluta dentro do slider */
            border-radius: 5px; /* Arredonda os cantos do progresso */
            background: #474849; /* Define a cor de fundo do progresso */
        }

        .range-input {
            position: relative; /* Define a posição como relativa para os inputs de range */
        }

        .range-input input {
            position: absolute; /* Define a posição como absoluta para os inputs de range */
            width: 100%; /* Define a largura do input como 100% */
            height: 5px; /* Define a altura do input como 5px */
            top: -5px; /* Posiciona o input acima do slider */
            background: none; /* Remove o fundo do input */
            pointer-events: none; /* Desabilita os eventos de ponteiro no input */
            -webkit-appearance: none; /* Remove o estilo padrão do input no WebKit */
            -moz-appearance: none; /* Remove o estilo padrão do input no Firefox */
        }

        input[type="range"]::-webkit-slider-thumb {
            height: 17px; /* Define a altura do "thumb" do slider */
            width: 17px; /* Define a largura do "thumb" do slider */
            border-radius: 50%; /* Arredonda os cantos do "thumb" */
            background: #474849; /* Define a cor de fundo do "thumb" */
            pointer-events: auto; /* Permite eventos de ponteiro no "thumb" */
            -webkit-appearance: none; /* Remove o estilo padrão do "thumb" no WebKit */
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.05); /* Adiciona sombra ao "thumb" */
        }

        input[type="range"]::-moz-range-thumb {
            height: 17px; /* Define a altura do "thumb" do slider para Firefox */
            width: 17px; /* Define a largura do "thumb" do slider para Firefox */
            border: none; /* Remove a borda do "thumb" */
            border-radius: 50%; /* Arredonda os cantos do "thumb" */
            background: #474849; /* Define a cor de fundo do "thumb" */
            pointer-events: auto; /* Permite eventos de ponteiro no "thumb" */
            -moz-appearance: none; /* Remove o estilo padrão do "thumb" no Firefox */
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.05); /* Adiciona sombra ao "thumb" */
        }



        <!-- <fieldset> -->
        <!-- <div class="wrapper"> -->
            Contêiner principal que envolve todos os elementos
    <!--  -->
            <!-- <div class="price-input"> -->
                Contêiner para os campos de entrada de preço
                <!-- <div class="field"> -->
                    <!-- <span>Min</span> -->
                    <!-- <input type="number" class="input-min" value="2500"> -->
                    Campo de entrada para o valor mínimo
                <!-- </div> -->
                <!-- <div class="separator">-</div> -->
                <!-- <div class="field"> -->
                    <!-- <span>Max</span> -->
                    <!-- <input type="number" class="input-max" value="7500"> -->
                    Campo de entrada para o valor máximo
                <!-- </div> -->
            <!-- </div> -->
    <!--  -->
            <!-- <div class="slider"> -->
                Contêiner do slider
                <!-- <div class="progress"></div> -->
                Div para a barra de progresso do slider
            <!-- </div> -->
    <!--  -->
            <!-- <div class="range-input"> -->
                Contêiner para os inputs de range
                <!-- <input type="range" class="range-min" min="0" max="10000" value="2500" step="100"> -->
                Input de range para o valor mínimo
                <!-- <input type="range" class="range-max" min="0" max="10000" value="7500" step="100"> -->
                Input de range para o valor máximo
            <!-- </div> -->
        <!-- </div> -->
    <!-- </fieldset> -->