{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!-- Importação da fonte Public Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap" rel="stylesheet">

  {% block head_tags %}
  {% endblock head_tags %}

  <!-- Carregamento do código css do bootstrap hospedado no próprio servidor -->
  <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'css/template_master/estilo_template_master.css' %}">

  <!-- Carregamento do código js do bootstrap hospedado no próprio servidor -->
  <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>

  <!-- Carrega a biblioteca para manipulação de cookies no lado do cliente -->
  <script defer src="{% static 'js-cookie/js.cookie.min.js' %}"></script>

  <!-- Carregamento de cada página -->
  <title>Storemobile - Ecommerce</title>

  <style>
    /* Estilos adicionais para os botões do rodapé */
    .container-botao {
      display: flex;
      justify-content: center;
      gap: 8vw;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    .botao-sem-borda{
      border:none;
    }

    /* Ajuste de tamanho para botões em telas pequenas */
    @media (max-width: 40vw) {
      .container-botao button {
        padding: 15vw 20vw;
        font-size: 0.875em;
      }
    }
  </style>
</head>
<body>
  <header>
    <!-- Navbar fixa -->
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: black !important;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">BR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Alternar navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mx-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active text-center" aria-current="page" href="#">FRETE GRÁTIS EM TODO PARÁ! DEZEMBRO.
                15–28.</a>
            </li>
          </ul>
          <div class="d-flex">
            <a class="nav-link text-white" href="#">SUPORTE</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Barra de pesquisa secundária -->
    <div class="bg-body shadow-sm">
      <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center my-2">
        <div class="d-flex flex-wrap justify-content-center">
          <a href='{% url "pagina_home" %}' class="botao-sem-borda me-2 mb-2 mb-md-0"
            style="text-decoration: none; margin: auto 1.5em;">Website</a>
          <a href='{% url "produtos" %}' class="botao-sem-borda me-2 mb-2 mb-md-0"
            style="text-decoration: none; margin: auto 1.5em;">Loja</a>
          <a href="" class="botao-sem-borda me-2 mb-2 mb-md-0"
            style="text-decoration: none; margin: auto 1.5em;">Compras</a>
          <a href='{% url "add_infor" %}' class="botao-sem-borda mb-2 mb-md-0"
            style="text-decoration: none; margin: auto 1.5em;">Contato</a>
          |
          <a href='{% url "menu_adm" %}' class="botao-sem-borda mb-2 mb-md-0"
            style="text-decoration: none; margin: auto 1.5em;">Menu Administrativo</a>
        </div>
        <div class="d-flex align-items-center">
          <div class="input-group me-2">
            <span class="input-group-text border-0 bg-body">
              <i class="fas fa-search"></i>
            </span>
            <input class="form-control barra-pesquisa-sem-borda" type="search" placeholder="Procurar"
              aria-label="Procurar">
          </div>
          <span class="contador-sacola"></span> <!-- Contador sem fundo -->
          <a style="text-decoration:none;" href='{% url "carrinho" %}' class="botao-sem-borda ms-2" type="button">
            <i class="bi bi-handbag"></i> <!-- Ícone de sacola -->
          </a>
          {% if user.is_authenticated %}
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input id="logout" type="submit" class="botao-sem-borda ms-2" value="Deslogar" > <!-- Botão Logar -->
          </form>
          {% else %}
          <a href="/login">
            <button class="botao-sem-borda ms-2" type="button">Logar</button> <!-- Botão Logar -->
          </a>

          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <main id="conteudo_interno_especifico">
    {% block content %}
    {% endblock %}
  </main>

  <!-- Linha preta antes da seção de Inscreva-se -->
  <hr class="linha-personalizada">

  <!-- Seção de Inscreva-se -->
  <div class="secao-inscricao">
    <div class="container">
      <h2 class="titulo-inscricao" style="font-size: 2em; font-weight: bold;">Inscreva-se no nosso informativo</h2>
      <p class="texto-inscricao">Seja o primeiro a saber sobre nossas ofertas especiais, novidades e atualizações.</p>
      <div class="d-flex flex-wrap align-items-center">
        <div class="input-group me-3" style="max-width: 400px;margin-botton: 10px;"> <!-- Adiciona margem à direita -->
          <input type="email" class="form-control" placeholder="Insira seu e-mail" aria-label="Inscreva-se">
          <button class="botao-negrito-simples input-group-text">Inscreva-se</button>
        </div>
        <div class="container-botao mt-3 mt-md-0" style="margin-left: 5vw;margin-botton: 10px;">
          <button class="botao-sem-borda font-weight-bold">Website</button>
          <button class="botao-sem-borda font-weight-bold">Loja</button>
          <button class="botao-sem-borda font-weight-bold">Sobre nós</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Rodapé -->
  <footer class="text-center mt-3">
    <p>© 2024 STORE MOBILE. TODOS OS DIREITOS RESERVADOS.</p>
  </footer>
</body>

</html>